:root {
    --clr-primary-300: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222C2A;
}
body{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem ;
    line-height:1.6 ;
}
h1{
    color: #824936;
}
h3{
    font-family: var(---ff-accent);
    font-weight: 900;
    line-height: 1;
}
p{
    margin-bottom: 1em;
}
img{
    display: block;
    max-width: 100%;
}
.text-center{
    color: #824936;
    text-align: center;
}
section{
    padding: 3rem;
}
@media(min-width:40em) {
    section{
        padding: 7rem;
    }
}
.container{
    margin-inline: auto;
    width: min(90%,70.5rem);
}
.split{
    display: flex;
    flex-direction: column;
}
@media(min-width:40em){
    .split{
        flex-direction: row;
    }
    .split>*{
        flex-basis: 100%;
    }
    .split>*+*{
        margin-left: 2em;
    }
}
.container--narrow{
    max-width: 34rem;
}
.bg-light{
    background-color: #f3eed9;
}
.bg-primary{
    color: #f3eed9;
    background-color: #824936;
}
.bg-dark{
    color: #FFF;
    background-color: #222C2A;
}